.App {
  text-align: center;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.ChatHeader {
  text-align: center;
  width: 100%;
}

.ChatBox {
  width: 80%;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.InputArea {
  width: 80%;
  display: flex;
}

.InputArea input {
  flex-grow: 1;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #000;
}

.InputArea button {
  margin-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* text bubbles */

@use postcss-nested;

:root {
  --send-bg: #0B93F6;
  --send-color: white;
  --receive-bg: #E5E5EA;
  --receive-text: black;
  --page-background: white;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
  max-width: 450px;
	margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: var(--page-background);
}

p {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
	padding: 10px 20px;
  border-radius: 25px;
  
  &:before, &:after {
    content: "";
		position: absolute;
    bottom: 0;
    height: 25px;
  }
}

.send {
	color: var(--send-color); 
	background: var(--send-bg);
	align-self: flex-end;
		
	&:before {
		right: -7px;
    width: 20px;
    background-color: var(--send-bg);
		border-bottom-left-radius: 16px 14px;
	}

	&:after {
		right: -26px;
    width: 26px;
    background-color: var(--page-background);
		border-bottom-left-radius: 10px;
	}
}
.receive {
	background: var(--receive-bg);
	color: black;
  align-self: flex-start;
		
	&:before {
		left: -7px;
    width: 20px;
    background-color: var(--receive-bg);
		border-bottom-right-radius: 16px 14px;
	}

	&:after {
		left: -26px;
    width: 26px;
    background-color: var(--page-background);
		border-bottom-right-radius: 10px;
	}
}